@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Podkova:wght@600&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --color-neutral: hsl(180, 20%, 99%);
  --color-secundary: hsl(206, 86%, 14%);
  --color-accent: hsl(19, 87%, 55%);
  --color-neutral-2: hsl(221, 39%, 11%);
  background-color: var(--color-neutral);
}

header {
  position: sticky;
  top: 0;
  width: 100vw;
  background-color: var(--color-secundary);
  padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin-inline: auto;
}

.navbar__brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar__logo {
  height: 48px;
  width: 48px;
  border: 2px solid var(--color-accent);
}

.navbar__name {
  color: var(--color-neutral);
  font-family: Nunito, sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
}

.navbar__filter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar__button {
  border: none;
  background-color: transparent;
  color: var(--color-accent);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-weight: 700;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.navbar__button:hover {
  color: var(--color-neutral);
}

.navbar__button--selected {
  color: var(--color-neutral);
  background-color: var(--color-accent);
  font-weight: bold;
}

.menu {
  max-width: 1280px;
  min-height: calc(100vh - 4rem);
  padding: 3rem 0rem;
  background-color: var(--color-neutral);
  color: var(--color-neutral-2);
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 4rem 2rem;
}

.menu__item {
  display: flex;
  gap: 1rem;
  height: max-content;
  padding: 1rem;
}

.menu__image {
  background-color: var(--color-secundary);
  aspect-ratio: 4 / 3;
  max-height: 200px;
  border-radius: 0.5rem;
}

.menu__content {
  display: flex;
  flex-direction: column;
}

.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-secundary);
  margin-bottom: 1rem;
}

.menu__title {
  font-family: Podkova, sans-serif;
  font-size: 1.5rem;
}

.menu__description {
  margin-bottom: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

.menu__add {
  width: fit-content;
  align-self: flex-end;
  border: none;
  background-color: transparent;
  color: var(--color-accent);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .menu__item {
      flex-direction: column;
  }
  
  .menu__image {
    max-width: 500px;
    max-height: none;
    align-self: center;
  }
}

@media (max-width: 800px) {
  .navbar__filter {
    display: none;
  }

  .menu {
    grid-template-columns: 1fr;
    gap: 0rem 1rem;
    padding: 0.5rem 0rem;
  }
  
  .menu__item {
    flex-direction: row;
  }

  .menu__image {
    max-width: 300px;
  }
}

@media (max-width: 600px) {
  .menu__item {
    flex-direction: column;
  }
  .menu__image {
    align-self: center;
    width: 100%;
  }
}